<h1>Listing questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Format</th>
    <th>Upper limit</th>
    <th>Depend</th>
    <th>Depend pattern</th>
    <th>Questionnaire</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.question %></td>
    <td><%= question.format %></td>
    <td><%= question.upper_limit %></td>
    <td><%= question.depend_id %></td>
    <td><%= question.depend_pattern %></td>
    <td><%= question.questionnaire_id %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
